		#code{
		    color: #ffffff;
		    background-color: gray;
		    font-size: 30px;
		    cursor: pointer;
		}
		#copyright{
	    	width:100%;
	    	text-align: center;
	    	padding-top: 20px;
	    	color: black;
		}
		.box10{
		    margin: 20px auto;
		    width: 300px;
		    min-height: 310px;
		    padding: 10px;
		    position:relative;
		    background: -webkit-gradient(linear, 100% 100%, 50% 10%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
		    border: 1px solid #ccc;
		    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0, 0.1);
		    -webkit-border-bottom-right-radius: 60px 5px;
		    
		}
		.box10:before{
		    content: '';
		    width: 98%;
		    z-index:-1;
		    height: 100%;
		    padding: 0 0 1px 0;
		    position: absolute;
		    bottom:0; right:0;
		    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f9f9f9), color-stop(.1,#fff));
		    border: 1px solid #ccc;
		    -webkit-box-shadow: 1px 1px 8px rgba(0,0,0, 0.1);
		    -webkit-border-bottom-right-radius: 60px 5px;
		    -webkit-transform: skew(2deg,2deg)
		                        translate(3px,8px)
		}
		.box10:after{
		    content: '';
		    width: 98%;
		    z-index:-1;
		    height: 98%;
		    padding: 0 0 1px 0;
		    position: absolute;
		    bottom:0; right:0;
		    background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#f3f3f3), to(#f6f6f6), color-stop(.1,#fff));
		    border: 1px solid #ccc;
		    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0, 0.1);
		    -webkit-transform: skew(2deg,2deg)
		                        translate(-1px,2px)
		}