<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crud.dao.BookInfoMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.crud.bean.BookInfo">
    <id column="BookID" jdbcType="CHAR" property="bookid" />
    <result column="BookName" jdbcType="VARCHAR" property="bookname" />
    <result column="BookType" jdbcType="VARCHAR" property="booktype" />
    <result column="BookNumbers" jdbcType="CHAR" property="booknumbers" />
    <result column="BorrowedNumbers" jdbcType="CHAR" property="borrowednumbers" />
    <result column="RemainingNumbers" jdbcType="CHAR" property="remainingnumbers" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BookID, BookName, BookType, BookNumbers, BorrowedNumbers, RemainingNumbers
  </sql>
  <select id="selectByExample" parameterType="com.atguigu.crud.bean.BookInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tab_bookinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_bookinfo
    where BookID = #{bookid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tab_bookinfo
    where BookID = #{bookid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.atguigu.crud.bean.BookInfoExample">
    delete from tab_bookinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atguigu.crud.bean.BookInfo">
    insert into tab_bookinfo (BookID, BookName, BookType, 
      BookNumbers, BorrowedNumbers, RemainingNumbers
      )
    values (#{bookid,jdbcType=CHAR}, #{bookname,jdbcType=VARCHAR}, #{booktype,jdbcType=VARCHAR}, 
      #{booknumbers,jdbcType=CHAR}, #{borrowednumbers,jdbcType=CHAR}, #{remainingnumbers,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.crud.bean.BookInfo">
    insert into tab_bookinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookid != null">
        BookID,
      </if>
      <if test="bookname != null">
        BookName,
      </if>
      <if test="booktype != null">
        BookType,
      </if>
      <if test="booknumbers != null">
        BookNumbers,
      </if>
      <if test="borrowednumbers != null">
        BorrowedNumbers,
      </if>
      <if test="remainingnumbers != null">
        RemainingNumbers,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookid != null">
        #{bookid,jdbcType=CHAR},
      </if>
      <if test="bookname != null">
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="booktype != null">
        #{booktype,jdbcType=VARCHAR},
      </if>
      <if test="booknumbers != null">
        #{booknumbers,jdbcType=CHAR},
      </if>
      <if test="borrowednumbers != null">
        #{borrowednumbers,jdbcType=CHAR},
      </if>
      <if test="remainingnumbers != null">
        #{remainingnumbers,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.atguigu.crud.bean.BookInfoExample" resultType="java.lang.Long">
    select count(*) from tab_bookinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tab_bookinfo
    <set>
      <if test="record.bookid != null">
        BookID = #{record.bookid,jdbcType=CHAR},
      </if>
      <if test="record.bookname != null">
        BookName = #{record.bookname,jdbcType=VARCHAR},
      </if>
      <if test="record.booktype != null">
        BookType = #{record.booktype,jdbcType=VARCHAR},
      </if>
      <if test="record.booknumbers != null">
        BookNumbers = #{record.booknumbers,jdbcType=CHAR},
      </if>
      <if test="record.borrowednumbers != null">
        BorrowedNumbers = #{record.borrowednumbers,jdbcType=CHAR},
      </if>
      <if test="record.remainingnumbers != null">
        RemainingNumbers = #{record.remainingnumbers,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tab_bookinfo
    set BookID = #{record.bookid,jdbcType=CHAR},
      BookName = #{record.bookname,jdbcType=VARCHAR},
      BookType = #{record.booktype,jdbcType=VARCHAR},
      BookNumbers = #{record.booknumbers,jdbcType=CHAR},
      BorrowedNumbers = #{record.borrowednumbers,jdbcType=CHAR},
      RemainingNumbers = #{record.remainingnumbers,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.crud.bean.BookInfo">
    update tab_bookinfo
    <set>
      <if test="bookname != null">
        BookName = #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="booktype != null">
        BookType = #{booktype,jdbcType=VARCHAR},
      </if>
      <if test="booknumbers != null">
        BookNumbers = #{booknumbers,jdbcType=CHAR},
      </if>
      <if test="borrowednumbers != null">
        BorrowedNumbers = #{borrowednumbers,jdbcType=CHAR},
      </if>
      <if test="remainingnumbers != null">
        RemainingNumbers = #{remainingnumbers,jdbcType=CHAR},
      </if>
    </set>
    where BookID = #{bookid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.crud.bean.BookInfo">
    update tab_bookinfo
    set BookName = #{bookname,jdbcType=VARCHAR},
      BookType = #{booktype,jdbcType=VARCHAR},
      BookNumbers = #{booknumbers,jdbcType=CHAR},
      BorrowedNumbers = #{borrowednumbers,jdbcType=CHAR},
      RemainingNumbers = #{remainingnumbers,jdbcType=CHAR}
    where BookID = #{bookid,jdbcType=CHAR}
  </update>
</mapper>